<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="en">
<head>
  <th:block th:replace="common/common_header :: header_parts()" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/style/guest/register.css}" />
</head>
<body>

  <!-- video file -->
  <div class="videoBox">
    <video autoplay loop="100" muted  id="videoBG">
      <source th:src="@{/img/suzy.mp4}" type="video/mp4">
    </video>
  </div><!--// video file -->

  <!-- logo img file -->
  <div class="logoBox"><img class="logo" th:src="@{/img/logo/ArisoruLogo(Big).png}" /></div>

  <!-- 알림 목적 -->
  <input type="hidden" id="loginIs" value="" />

  <!-- register member and login -->
  <div class="card-container">

    <!-- change login to registration -->
    <div class="toggle">
      <i class="fa fa-user fa-pencil fa-lg"></i>
      <div class="tooltip">Sign up</div>
    </div><!--// change login to registration -->

    <!-- login -->
    <div class="card login-register login-reset" th:style="${loginPageYn ? 'display: block;' : 'display: none;'}">
      <h1 class="title">Login</h1>

      <form id="loginForm"  method="post" action="/api/v1/guest/login/">

        <!-- user id -->
        <div class="input-container has-feedback">
          <input type="text" id="memberId" name="memberId" placeholder="UserID"/>
          <i	class="fa fa-user form-control-feedback"></i>
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// user id -->

        <!-- user password -->
        <div class="input-container has-feedback">
          <input type="password" id="memberPassword" name="memberPassword" placeholder="Password"/>
          <i	class="fa fa-lock form-control-feedback"></i>
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// user password -->

        <!-- remember user id checkbox-->
        <div class="checkbox">
          <label> <input type="checkbox" id="remember-me" checked>
            <span class="cr"><i class="cr-icon fa fa-rocket"></i></span>
            Remember me
          </label>
        </div><!--// remember user id checkbox -->

        <!-- login btn -->
        <div class="button-container">
          <button id="loginBtn" class="rkmd-btn btn-lightBlue ripple-effect float-right" type="submit">
            <span>Sign in</span>
          </button>
        </div><!--// login btn -->

        <!-- forgot password btn -->
        <div class="footer">
          <a href="#">Forgot your password?</a>
        </div><!--// forgot password btn -->

      </form>
    </div><!--// login -->

    <!-- Register Member -->
    <div class="card login-register" th:style="${loginPageYn ? 'display: none;' : 'display: block;'}">
      <h1 class="title">Create an account</h1>
      <form id="registerForm" method="post" action="" >
        <!-- UserName -->
        <div class="input-container has-feedback">
          <input type="text" id="registerMemberName" name="" placeholder="Username"/>
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// UserName -->

        <!-- UserID -->
        <div class="input-container has-feedback">
          <input type="email" id="registerMemberId" name="memberId" placeholder="E-mail">
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// UserID -->

        <!-- UserPW -->
        <div class="input-container has-feedback">
          <input type="password" id="registerMemberPassword" name="memberPassword" placeholder="Password" >
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// UserPW -->

        <div class="checkbox">
          <label> <input type="checkbox" id="registerTerms" required>
            <span class="cr"><i class="cr-icon fa fa-rocket"></i></span>
            I accept something I never read
          </label>
        </div>

        <!-- Register Btn -->
        <div class="button-container">
          <button id="registerBtn" type="submit">
            <span>Register</span>
          </button>
        </div><!--// Register Btn -->

      </form>
    </div><!--// Register Member -->

    <!-- forgot password -->
    <div class="card login-reset">
      <h1 class="title">Reset password</h1>
      <p class="reset-info">Password reset instruction will be send to
        your e-mail.</p>
      <form id="resetPwForm" method="post" action="/api/v1/member/reset_pw/">

        <!-- E-mail -->
        <div class="input-container has-feedback">
          <input type="email" id="memberEmail" name="memberEmail" required
                 pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
                 title="Not an e-mail!" autocomplete="off" /> <label for="memberEmail">E-mail</label>
          <i class="fa fa-envelope form-control-feedback"></i>
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// E-mail -->

        <!-- pattern="[\w_-]{1,20}" -->
        <!-- reset password -->
        <div class="input-container has-feedback">
          <input type="text" id="resetMemberPassword" name="memberPassword">
          <i class="fa fa-envelope form-control-feedback"></i>
          <div class="check"></div>
          <div class="bar"></div>
        </div><!--// reset password -->

        <!-- reset Password Btn -->
        <div class="button-container">
          <button id="resetPwBtn" type="submit">
            <span>Reset</span>
          </button>
        </div><!--// reset Password Btn -->

        <div class="footer">
          <a href="#">Back to Login</a>
        </div>
      </form>
    </div><!--// forgot password -->
  </div><!--// register member and login -->

  <footer>
    <th:block th:replace="common/common_footer :: footer_parts()" />
    <script th:inline="javascript">
        /*<![CDATA[*/
          const registerResult = [[${registerResult}]];
        /*]]>*/
    </script>
    <!-- JS -->
    <script th:src="@{/js/guest/register.js}"></script>
  </footer>

</body>
</html>