<html xmlns:th="http://www.thymeleaf.org">

  <!-- Header -->
  <th:block th:fragment="header_parts()">
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

    <!-- Common CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/common/menustyle.css}">

  </th:block>

</html>